.home-page{

    .text-zone {
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 70px;
        margin: 0;
    }

    h2 {
        color: #fff;
        font-size: 50px;
        margin: 10
    }

    h3 {
        color: #8d8d8d;
        font-size: 20px;
        margin: 5
    }

    .flat-button {
        color: orange;
        font-size: 20px;
        font-weight:400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        border: 1px solid orange;
        padding: 10px 10px;
        white-space: nowrap;
        margin-top: 25px;
        float: left;

        :hover {
            background: white;
            color: #8d8d8d;
        }
    }
}